.post{
    background: #fff;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    
    
}
.post__profile__pic > img{
    height:50px;
    width:50px;
 border-radius: 50%;
 object-fit: cover;
 object-position: top;
 margin-right: 10px;
}

.post__profile__info{
    display: flex;
    padding:10px 15px;
}

.post__profile__name{
    font-weight: 500;
    font-size: 14px;
}
.post__profile__role{
   font-weight: 400;
   font-size: 13px;
   color:grey;
}
.post__profile__updated{
    font-weight: 400;
   font-size: 13px;
   color:grey;
}

.post__image >img{
    width:100%;
    height:auto;
}


.post__stat{
    display: flex;
    padding:5px 15px;
    align-items: center;
    
    
}

.post__stat__like,.post__stat__love{
    padding-right: 5px;
    height:17px;
    cursor:pointer;
}
.post__stat__like{
    color:var(--linkedinBlue);

}
.post__stat__love{
    color:rgb(196, 57, 57);
}

.post__stat a{
    color:grey;
    font-size: 13px;
    padding-right: 5px;
    text-decoration: none;
}

.post__stat a:hover{
    color:var(--linkedinBlue);
 text-decoration: underline;
    font-size: 13px;
    
    
}
.post__stat__dot{
 padding-right: 5px;
 color:grey;
}

.post__line{
    display: flex;
    height:1px;
 
    margin-left: 15px;
    margin-right: 15px;
   
    background-color: lightgrey;
}

.post__actions{
    display: flex;
    padding: 5px 15px;
}

.post__text{
    padding: 10px 15px;
    color:rgb(92, 90, 90);
    font-size: 15px;
    white-space:pre-wrap;
}

.post__commentbox{
    padding: 10px 15px;
     display: flex;
     align-items: center;
    
}

.post__comment__dp > img{
    height:40px;
    width:40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 10px;
}

.post__comment__input{
    width:100%;
    border-radius: 35px;
    border:1px solid lightgrey;
    height:40px;
    display: flex;
    align-items: center;
    padding-right: 10px;
   
}
.post__comment__input > input{
    border-radius: 35px;
    outline:none;
   border:none;
    height:100%;
    font-size: 14px;
    width:100%;
    justify-content: center;
    padding-left: 15px;
    padding-right: 10px;
    color:rgb(65, 63, 63);
   
}


.post__send__icon{
    color:var(--linkedinBlue);
    cursor:pointer;
    padding: 6px;
    height:35px !important;
    width:35px !important;
    border-radius: 50%;
}
.post__send__icon:hover {
    background-color: var(--linkedinBody);
}

             
.post__comments__section{
 padding: 10px 15px;
 
}

.post__comment{
 display: flex;
 align-items: top;
 margin-bottom: 10px;
}

.post__comment__user__dp > img{
    display: flex;
    height:30px;
    width:30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    align-items: center;
     margin-right: 10px;
}

.post__comment__user__comment{
background-color:#e3eff3; 
width: 100%;
padding: 5px 10px;
border-radius: 5px;
font-size: 14px;
color:rgb(36, 35, 35);
}

.post__comment__user__title{
    display: flex;
    justify-content: space-between;
}

.post__comment__user__title__left >h3{
  font-size: 14px;
  font-weight: 500;
  color:rgb(54, 52, 52);
}
.post__comment__user__title__left >h4{
  font-size: 13px;
  font-weight: 400;
  color:rgb(104, 99, 99);
}