.appBody{
    max-width:1150px;
    width:100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sidebar__flex{
    flex:0.2;
    height:500px;
    
    margin: 10px 15px;
}
.feed__flex{
    flex:0.5;
    height:500px;
  
    margin: 10px 15px;
}
.trending__flex{
    flex:0.3;
     height:500px;
    
    margin: 10px 15px;
}

