


.app{
    position: relative;
    user-select: none;
}



.modal{
    position: fixed;
    z-index: 999;
    height:100vh;
    width:100%;
  
    
}

.appBody{
    position: relative;
    top:60px;
    max-width:1150px;
    width:100%;
    
    margin-left: auto;
    margin-right: auto;
}





